* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #eaeae7;
}

.navBar{
    background-color: #e2d3c4;
    padding: 5px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 20vh;
    background-color: #e2d3c4;
}

.logo {
    color: grey;
    text-transform: uppercase;
}

.h4, h4{
    font-size: 50px;
    letter-spacing: 0.3em;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-links a {
    color: grey;
    text-decoration: none;
    letter-spacing: 0.2em;
    font-weight: bold;
    font-size: 13px;
}

.nav-links a:hover {
    color: #eaeae7;
}

.nav-links li {
    list-style: none;
}

.burger div {
    width: 20px;
    height: 2px;
    background-color: #eaeae7;
    margin: 5px;
    transition: all 0.5s ease;
}

.burger {
    display: none;
    cursor: pointer;
}

.circular-img-div {
    position: relative;
    overflow: hidden;
    width: 20vw;
    height: auto;
    margin-left: 18vw;
    margin-top: 70px;
    float: left;

}

.circular-img-div .circular-img {
    width: 100%; 
    border-radius: 50%;
}

.title-text {
    position: relative;
    margin-top: 70px;
    width: 40vw;
    float: right;
    margin-right: 15vw;
    font-size: 14px;
    letter-spacing: 1px;
}

.title-work, .title-facts{
    display: block;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    color: grey;

}

.title-text-work1, .title-text-facts1 {
    margin-top: 40px;
    display: block;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    letter-spacing: 1px;

}

.title-text h2{
    font-size: 45px;
}

.title-text h3{
    font-size: 30px;
}

/*
ul .no-bullet {
    list-style: none;
}
*/

b {
    font-weight:bold;
    color: black;
}

.list-inline-item a i{
    color: #e2d3c4;
    
}

.list-inline-item a i:hover{
    color: grey;
}

#copyright{
    background-color: #eaeae7;
    color: grey;
}

@media screen and (max-width: 1024px) {
    .nav-links{
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    nav {
        min-height: 7vh;
    }

    .h4, h4 {
        font-size: 20px;
        letter-spacing: 10px;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 15vh;
        top: 8vh;
        background-color: #e2d3c4;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }

    .circular-img-div {
        width: 30vw;
        float: none;
        display: block;
        margin: 140px auto 40px 28vw;
    }
    
    .title-text {
        float: none;
        display: block;
        margin: 20px auto 20px 28vw;
        font-size: 13px;
    }

    .title-work, .title-facts {
        margin-top: 140px;
    }
    
    .title-text-work1, .title-text-facts1 {
        font-size: 13px;
    }
}

.nav-active {
    transform: translateX(0%);

}

/* To make navbar slide */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-90deg) translate(-6px, 8.5px);
}

.toggle .line2 {
    transform: rotate(-90deg) translate(1px);
}

.toggle .line3 {
    transform: rotate(-90deg) translate(8px, -8.5px);

}

/* Photo.html */
.wrapper-gallery {
    margin: 100px 10vw;
}

#photo-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas: 
    "gallery-h2 gallery-h2 gallery-h2"
    "img2 img4 img8"
    "img3 img10 img13"
    "img14 img15 img16";
}

#photo-gallery .gallery-img {
    width: 100%;
    height: 15vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .wrapper-gallery {
        margin: 40px 0vw;
    }

    #photo-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        grid-template-areas: 
        "gallery-h2 gallery-h2"
        "img2 img4"
        "img8 img3"
        "img10 img13"
        "img14 img15";
    }

    #photo-gallery .gallery-img {
        width: 100%;
        height: 35vw;
    }
}

@media screen and (max-width:768px) {
    .wrapper-gallery {
        margin-top: 80px;
        margin-bottom: 0px;
    }

    #photo-gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        grid-template-areas: 
        "gallery-h2"
        "img2"
        "img4"
        "img8"
        "img3"
        "img10"
        "img13"
        "img14"
        "img15"
        "img16";
    }

    #photo-gallery .gallery-img {
        width: 100%;
        height: 60vw;
    }
}

/* Images */
#photo-gallery h2 {
    grid-area: gallery-h2;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: grey;
    font-weight: bolder;
    letter-spacing: 1px;
}

#photo-gallery .img2{
    grid-area: img2;
    background-image: url("../images/Pic2.jpg");
}

#photo-gallery .img3{
    grid-area: img3;
    background-image: url("../images/Pic3.jpg");
}

#photo-gallery .img4{
    grid-area: img4;
    background-image: url("../images/Pic4.jpg");
}

#photo-gallery .img8{
    grid-area: img8;
    background-image: url("../images/Pic8.JPG");
}

#photo-gallery .img10{
    grid-area: img10;
    background-image: url("../images/Pic10.jpg");
}

#photo-gallery .img13{
    grid-area: img13;
    background-image: url("../images/Pic13.jpg");
}

#photo-gallery .img14{
    grid-area: img14;
    background-image: url("../images/Pic14.jpg");
}

#photo-gallery .img15{
    grid-area: img15;
    background-image: url("../images/Pic15.jpg");
}

#photo-gallery .img16{
    grid-area: img16;
    background-image: url("../images/Pic16.jpg");
}

/* experience slider

.slider-body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

.nav-manual{
    position: absolute;
    width: 800px;
    margin-top:-40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border-radius: 10px;
    outline: 2px solid white;
    padding: 5px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -800px;
}

.nav-auto{
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.nav-auto div{
    border-radius: 10px;
    outline: 2px solid white;
    padding: 5px;
    cursor: pointer;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background: white;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background: white;
}

.slides .side .info{
    z-index: 1;
    color: black;
    position: absolute;
    top: 0;
    padding: 15px 30px;
} */

.slide img{
    width: 800px;
    height: auto;
}

.slider-body{
    margin-top: -30px;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 10px;
    margin-top: -50px;
}

.slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0% 100%)
}

.slide.active{
    transition: 3s;
    clip-path: circle(150% at 0 50%);
    transition-property: clip-path;
}

.slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}

.slide .info{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 15px 30px;
    margin: auto;
    background-color: black;
    opacity: 0;
}

.slide .info:hover{
    opacity: 0.8;
    transition: all ease-in-out 100ms;
}

.slide .info h2{
    margin: auto;
    color: white;
    font-size: 45px;
    width: 90%;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-align: center;
    padding-top: 40px;
}

.slide .info .para{
    color: white;
    font-size: 18px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
    border-radius: 4px;
    line-height: 200%;
}

.slides .nav-slider{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.slides .nav-slider .nav-btn{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    margin-bottom: -20px;
    border-radius: 10px;
    cursor: pointer;
}


@media (max-width: 820px){
    .slider{
        width: 600px;
        height: 375px;
    }

    .slide .info{
        padding: 10px 25px;
    }

    .slide .info h2{
        font-size: 35px;
        width: 90%;
    }

    .slide .info p{
        width: 70%;
        font-size: 15px;
    }

    .slides .nav-slider{
        bottom: -10px;
    }

    .slides .nav-slider .nav-btn{
        width: 10px;
        height: 10px;
        margin: 8px;
    }
}

@media (max-width: 620px){
    .slider{
        width: 400px;
        height: 250px;
    }

    .slide .info{
        padding: 10px 20px;
    }

    .slide .info h2{
        font-size: 30px;
        width: 90%;
    }

    .slide .info p{
        width: 90%;
        font-size: 12px;
    }

    .slides .nav-slider{
        bottom: -35px;
    }

    .slides .nav-slider .nav-btn{
        width: 8px;
        height: 8px;
        margin: 6px;
    }
}

@media (max-width: 420px){
    .slider{
        width: 320px;
        height: 200px;
    }

    .slide .info{
        padding: 5px 10px;
        overflow: hidden;
    }

    .slide .info h2{
        font-size: 20px;
        width: 90%;
    }

    .slide .info p{
        width: 95%;
        font-size: 10px;
    }

    .slides .nav-slider{
        bottom: -30px;
    }
}

.slides .nav-slider .nav-btn.active{
    background: white;
    box-shadow: 0 0 2px rgba(0,0,0, 0.5);
}

/* Gallery img titles */
.gallery-img div{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-img a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.gallery-img div:hover {
    opacity: 0.8;
    transition: all ease-in-out 100ms;
}

/* Popup window for clicked images */
.img-window {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.img-window img {
    max-height: 80vh;
    max-width: 80vw;
}
