* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #eaeae7;
}

.navBar{
    background-color: #e2d3c4;
    padding: 5px;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 20vh;
    background-color: #e2d3c4;
}

.logo {
    color: grey;
    text-transform: uppercase;
}

.h4, h4{
    font-size: 50px;
    letter-spacing: 0.3em;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-links a {
    color: grey;
    text-decoration: none;
    letter-spacing: 0.2em;
    font-weight: bold;
    font-size: 13px;
}

.nav-links a:hover {
    color: #eaeae7;
}

.nav-links li {
    list-style: none;
}

.burger div {
    width: 20px;
    height: 2px;
    background-color: #eaeae7;
    margin: 5px;
    transition: all 0.5s ease;
}

.burger {
    display: none;
    cursor: pointer;
}

.circular-img-div {
    position: relative;
    overflow: hidden;
    width: 20vw;
    height: auto;
    margin-left: 18vw;
    margin-top: 70px;
    float: left;

}

.circular-img-div .circular-img {
    width: 100%; 
    border-radius: 50%;
}

.title-text {
    position: relative;
    margin-top: 70px;
    width: 40vw;
    float: right;
    margin-right: 15vw;
    font-size: 14px;
    letter-spacing: 1px;
}

.title-work, .title-facts{
    display: block;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    color: grey;

}

.title-text-work1, .title-text-facts1 {
    margin-top: 40px;
    display: block;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    letter-spacing: 1px;

}
/*
ul .no-bullet {
    list-style: none;
}
*/

b {
    font-weight:bold;
    color: black;
}

.list-inline-item a i{
    color: #e2d3c4;
    
}

.list-inline-item a i:hover{
    color: grey;
}

#copyright{
    background-color: #eaeae7;
    color: grey;
}

@media screen and (max-width: 1024px) {
    .nav-links{
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    nav {
        min-height: 7vh;
    }

    .h4, h4 {
        font-size: 20px;
        letter-spacing: 10px;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 15vh;
        top: 8vh;
        background-color: #e2d3c4;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }

    .circular-img-div {
        width: 30vw;
        float: none;
        display: block;
        margin: 140px auto 40px 28vw;
    }
    
    .title-text {
        float: none;
        display: block;
        margin: 20px auto 20px 28vw;
        font-size: 13px;
    }

    .title-work, .title-facts {
        margin-top: 140px;
    }
    
    .title-text-work1, .title-text-facts1 {
        font-size: 13px;
    }
}

.nav-active {
    transform: translateX(0%);

}

/* To make navbar slide */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-90deg) translate(-6px, 8.5px);
}

.toggle .line2 {
    transform: rotate(-90deg) translate(1px);
}

.toggle .line3 {
    transform: rotate(-90deg) translate(8px, -8.5px);

}

/* Photo.html */
.wrapper-gallery {
    margin: 100px 10vw;
}

#photo-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas: 
    "gallery-h2 gallery-h2 gallery-h2"
    "img2 img4 img8"
    "img3 img10 img13";
}

#photo-gallery .gallery-img {
    width: 100%;
    height: 15vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .wrapper-gallery {
        margin: 40px 0vw;
    }

    #photo-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        grid-template-areas: 
        "gallery-h2 gallery-h2"
        "img2 img4"
        "img8 img3"
        "img10 img13";
    }

    #photo-gallery .gallery-img {
        width: 100%;
        height: 35vw;
    }
}

@media screen and (max-width:768px) {
    .wrapper-gallery {
        margin-top: 80px;
        margin-bottom: 0px;
    }

    #photo-gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        grid-template-areas: 
        "gallery-h2"
        "img2"
        "img4"
        "img8"
        "img3"
        "img10"
        "img13";
    }

    #photo-gallery .gallery-img {
        width: 100%;
        height: 60vw;
    }
}

/* Images */
#photo-gallery h2 {
    grid-area: gallery-h2;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: grey;
    font-weight: bolder;
    letter-spacing: 1px;
}

#photo-gallery .img2{
    grid-area: img2;
    background-image: url("../images/Pic2.jpg");
}

#photo-gallery .img3{
    grid-area: img3;
    background-image: url("../images/Pic3.jpg");
}

#photo-gallery .img4{
    grid-area: img4;
    background-image: url("../images/Pic4.jpg");
}

#photo-gallery .img8{
    grid-area: img8;
    background-image: url("../images/Pic8.JPG");
}

#photo-gallery .img10{
    grid-area: img10;
    background-image: url("../images/Pic10.jpg");
}

#photo-gallery .img13{
    grid-area: img13;
    background-image: url("../images/Pic13.jpg");
}

/* Gallery img titles */
.gallery-img div{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-img a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.gallery-img div:hover {
    opacity: 0.8;
    transition: all ease-in-out 100ms;
}

/* Popup window for clicked images */
.img-window {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.img-window img {
    max-height: 80vh;
    max-width: 80vw;
}


